body {
  font-family: Arial, sans-serif;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

#header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: white;
}

#header #image {
  margin-bottom: 12px;
}

#header ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 10px;
  padding: 0;
}

#header ul li {
  margin-right: 10px;
}

#header button {
  background-color: black;
  color: white;
  margin-top: 10px;
  padding: 12px 20px;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s, color 0.3s;
}

#header button:hover {
  background-color: white;
  color: black;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: white;
}

#left-content {
  text-align: center;
  margin-bottom: 20px;
}

#left-content h1 {
  font-size: 28px;
}

#image-content img {
  width: 100%;
  height: auto;
  margin-top: 20px;
}

#home .home-button {
  margin-top: 20px;
}

section {
  padding: 25px;
  margin-top: 20px;
}

#about {
  flex-direction: column;
  margin-right: 0;
}

#about-content img {
  width: 100%;
  height: auto;
  margin-top: 20px;
}

#about-content1 {
  margin-right: 0;
}

#about .home-button {
  margin-top: 20px;
}

#service {
  padding: 20px;
  text-align: center;
}

.departments-container {
  flex-direction: column;
}

.department {
  width: 100%;
  margin: 0;
}

#department-last .department-button {
  margin-top: 20px;
}

#blog {
  padding: 20px;
}

#account {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

#account h1 {
  margin-left: 0;
}

#account img {
  margin-right: 0;
}

#account .account-tick {
  margin-right: 0;
}

#account .account-button {
  margin-top: 20px;
  margin-right: 0;
}

#contact {
  margin-top: 20px;
  padding: 20px;
}

#contact p {
  margin-left: 0;
}

#contact img {
  margin-left: 0;
}

#contact-container {
  flex-direction: column;
}

.contact-content {
  width: 100%;
  margin-right: 0;
  margin-bottom: 20px;
  padding: 0;
}

#contact-content h2 {
  color: #fff;
}

#contact-content ul {
  padding: 0;
}

#contact-content li {
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  #header {
    flex-direction: row;
  }

  #header ul {
    flex: 1;
  }

  #left-content {
    max-width: 500px;
    margin-right: 20px;
  }

  #image-content img {
    margin-top: 0;
  }

  #about {
    flex-direction: row;
    margin-right: 20px;
  }

  #about-content img {
    margin-top: 0;
  }

  #about-content1 {
    margin-right: 20px;
  }

  .departments-container {
    flex-direction: row;
  }

  .department {
    width: calc(33.33% - 20px);
    margin: 0 10px 20px;
  }

  #department-last .department-button {
    margin-top: 0;
  }

  #blog {
    padding: 40px;
  }

  #account {
    flex-direction: row;
    justify-content: space-between;
  }

  #account h1 {
    margin-left: 50px;
  }

  #account img {
    margin-right: 50px;
  }

  #account .account-tick {
    margin-right: 50px;
  }

  #contact {
    flex-direction: row;
  }

  #contact p {
    margin-left: 80px;
    margin-bottom: 80px;
  }

  #contact img {
    margin-left: 80px;
    margin-top: 80px;
  }

  #contact-content {
    flex-direction: row;
    justify-content: space-between;
  }

  .contact-content {
    width: 23%;
    margin-right: 20px;
    margin-bottom: 0;
  }

  .contact-content:last-child {
    margin-right: 0;
  }
}

